<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SF Modal</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../styles/materialize/materialize.min.css">
    <link rel="stylesheet" href="../styles/sf-modal.css">
</head>
<body>
    <div class="sf-modal-container">
        <a class="btn-floating btn-small waves-effect waves-light teal"><i class="material-icons">add</i></a>
    </div>
    <script src="../scripts/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="../scripts/sf-modal.js"></script>
</body>
</html>